*{
	box-sizing: border-box;
}

html{
	font-size: 20px;
	margin: 0;
}

.welcome-page{
	background-size:auto; 
	display: block;
	display: none;
}

.center{
	text-align: center;
}

.padding-free{
	padding: 0;
}

.p1-text h1{
	position: absolute;
	top: 130px;
	text-align: center;
	width: 100%;
	padding: 0 25%;
	color: #26CEFF;
	font-size: 6rem;
	font-family: 'Pacifico', cursive;
}

.welcome-page-back{
	width: 100%;
	opacity: .5;
	margin: 0;

}
.welcome-page-back1{
	position: absolute;
	width: 100%;
	opacity: .5;
	margin: 0;

}

.p1-button {
	position: absolute;
	text-align: center;
	width: 100%;
	padding: 0 25%;
	top: 400px;
	opacity: .8;
}

.p1-button button{
	display: inline-block;
	border-radius: 180px;
	font-size: 50px;
	padding: 25px 35px;
}

.p1-button div{
	margin-top: 50px;
	font-family: 'Architects Daughter', cursive;
}


.desk-nav li{
	display: inline-block;
	padding-right: 50px;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 0;
}

.desk-nav ul{
	margin: 0;
	text-align: right;
	padding-right: 11%;
}


.desk-nav li a{
	color: #26CEFF;
}

.p2-text h1{
	position: absolute;
	top: 19px;
	text-align: left;
	padding-left: 15%;
	color: #26CEFF;
	font-size: 3rem;
	font-family: 'Pacifico', cursive;
}

.btn-group a{
	padding-right: 50px;
	padding-left: 50px;
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.btn-group{
    left: 50%;
    width: 863px;
    margin-left: -431.5px;

}

.thumbnails{
	/*border: 1px solid red;*/
	margin-bottom: 60px;
}

.thumbnails li{
	display: inline-block;

}

.pager{
	margin: 30px 40%;
	padding: 0;
}

.footer-1{
	margin-top: 120px;
	background-color: #879488;
	opacity: .6;
}

.rent-button{
	font-family: 'Pacifico', cursive;
	font-size: 1.5rem;
}

